body {
  background-image: radial-gradient(circle at top right, #eef2ff, transparent 35%), radial-gradient(circle at 15% 75%, #ecfeff, transparent 35%);
}

input, select, textarea {
  width: 100%;
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  border: 1px solid #cbd5e1;
  padding: 0.5rem 0.75rem;
}

textarea {
  min-height: 7rem;
}
