{% extends 'blog/base.html' %}

{% block content %}
<h1 class="title is-3">
  <span class="icon mr-2"><i class="fa-solid fa-newspaper"></i></span>
  <span>{{ post.title }}</span>
</h1>

<div class="card">
  <div class="card-content">
    {% if post.image %}
      <figure class="image mb-4">
        <img src="{{ post.image.url }}" alt="Image for {{ post.title }}">
      </figure>
    {% endif %}

    <p class="mb-3">{{ post.body }}</p>
    <p class="meta-text mb-3">
      <span class="icon mr-1"><i class="fa-solid fa-user"></i></span><a href="{% url 'blog:user-profile' post.author.username %}">{{ post.author }}</a> |
      <span class="icon mr-1"><i class="fa-solid fa-layer-group"></i></span><a href="{% url 'blog:channel-detail' post.channel.slug %}">{{ post.channel.name }}</a> |
      <span class="icon mr-1"><i class="fa-solid fa-clock"></i></span>{{ post.created_at }}
    </p>

    <div class="inline-actions">
      <a class="button is-light" href="{% url 'blog:post-list' post.channel.slug %}">
        <span class="icon"><i class="fa-solid fa-arrow-left"></i></span>
        <span>Back to channel posts</span>
      </a>
      {% if post.author == user %}
        <a class="button is-warning is-light" href="{% url 'blog:post-edit' post.pk %}">
          <span class="icon"><i class="fa-solid fa-pen-to-square"></i></span>
          <span>Edit post</span>
        </a>
        <a class="button is-danger is-light" href="{% url 'blog:post-delete' post.pk %}">
          <span class="icon"><i class="fa-solid fa-trash"></i></span>
          <span>Delete post</span>
        </a>
      {% endif %}
    </div>
  </div>
</div>

<h2 class="title is-5 mt-5">
  <span class="icon mr-2"><i class="fa-solid fa-comments"></i></span>
  <span>Comments</span>
</h2>

{% for comment in post.comments.all %}
  <div class="card mb-3">
    <div class="card-content">
      <p class="mb-2">{{ comment.body }}</p>
      <p class="meta-text mb-2">
        <span class="icon mr-1"><i class="fa-solid fa-user"></i></span><a href="{% url 'blog:user-profile' comment.author.username %}">{{ comment.author }}</a> |
        <span class="icon mr-1"><i class="fa-solid fa-clock"></i></span>{{ comment.created_at }}
      </p>
      {% if comment.author == user %}
        <div class="inline-actions">
          <a class="button is-small is-warning is-light" href="{% url 'blog:comment-edit' comment.pk %}">
            <span class="icon"><i class="fa-solid fa-pen"></i></span>
            <span>Edit</span>
          </a>
          <a class="button is-small is-danger is-light" href="{% url 'blog:comment-delete' comment.pk %}">
            <span class="icon"><i class="fa-solid fa-trash"></i></span>
            <span>Delete</span>
          </a>
        </div>
      {% endif %}
    </div>
  </div>
{% empty %}
  <div class="notification is-light">
    <span class="icon mr-2"><i class="fa-regular fa-message"></i></span>No comments yet.
  </div>
{% endfor %}

<p>
  <a class="button is-link is-light" href="{% url 'blog:comment-create' post.pk %}">
    <span class="icon"><i class="fa-solid fa-comment-medical"></i></span>
    <span>Add comment</span>
  </a>
</p>
{% endblock %}
