{% extends 'blog/base.html' %}

{% block title %}{{ channel.name }} Journal | SheetMojo{% endblock %}
{% block meta_description %}Recent stories, updates, and discussions from {{ channel.name }}.{% endblock %}
{% block og_title %}{{ channel.name }} Journal | SheetMojo{% endblock %}
{% block og_description %}Recent stories, updates, and discussions from {{ channel.name }}.{% endblock %}
{% block twitter_title %}{{ channel.name }} Journal | SheetMojo{% endblock %}
{% block twitter_description %}Recent stories, updates, and discussions from {{ channel.name }}.{% endblock %}
{% block structured_data %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "CollectionPage",
      "name": "{{ channel.name|escapejs }} Journal",
      "description": "Recent stories, updates, and discussions from {{ channel.name|escapejs }}.",
      "url": "{{ request.build_absolute_uri|escapejs }}"
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Home",
          "item": "{{ request.scheme }}://{{ request.get_host }}{% url 'home' %}"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "Channel Directory",
          "item": "{{ request.scheme }}://{{ request.get_host }}{% url 'blog:channel-list' %}"
        },
        {
          "@type": "ListItem",
          "position": 3,
          "name": "{{ channel.name|escapejs }}",
          "item": "{{ request.scheme }}://{{ request.get_host }}{% url 'blog:channel-detail' channel.slug %}"
        },
        {
          "@type": "ListItem",
          "position": 4,
          "name": "Journal",
          "item": "{{ request.build_absolute_uri|escapejs }}"
        }
      ]
    }
  </script>
{% endblock %}

{% block content %}
<header class="page-headline">
  <div class="is-flex is-justify-content-space-between is-align-items-center is-flex-wrap-wrap">
    <div>
      <h1 class="title is-3 mb-2">
        <span class="icon mr-2"><i class="fa-solid fa-newspaper"></i></span>
        <span>{{ channel.name }} Journal</span>
      </h1>
      <p class="page-kicker">Recent stories, updates, and discussions from this channel.</p>
    </div>
    <p class="inline-actions">
      <a class="button is-primary" href="{% url 'blog:post-create' channel.slug %}" hx-boost="true">
        <span class="icon"><i class="fa-solid fa-square-plus"></i></span>
        <span>Write post</span>
      </a>
      <a class="button is-light" href="{% url 'blog:channel-list' %}" hx-boost="true">
        <span class="icon"><i class="fa-solid fa-arrow-left"></i></span>
        <span>Channels</span>
      </a>
    </p>
  </div>
</header>

{% include 'blog/post_list_content.html' %}
{% endblock %}
