{% extends 'base.html' %}

{% block title %}{{ page_title|default:'Listed Businesses' }}{% endblock %}

{% block content %}
<div class="row valign-wrapper">
    <div class="col s12 m8">
        <h3>{{ page_title|default:'Listed Businesses' }}</h3>
    </div>
    {% if user.is_authenticated and user.businesses.count < 3 %}
    <div class="col s12 m4 right-align">
        <a href="{% url 'add_business' %}" class="btn waves-effect waves-light">
            + Add Business
        </a>
    </div>
    {% endif %}
</div>
{% include 'business_listing/list_search.html' %}
{% include 'business_listing/view_toggle.html' %}
<ul class="{% if request.GET.view == 'grid' %}row list-grid{% else %}collection z-depth-1{% endif %}">
    {% for business in businesses %}
        <li class="{% if request.GET.view == 'grid' %}col s12 m6 l4{% else %}collection-item{% endif %}">
            <div{% if request.GET.view == 'grid' %} class="card-panel"{% endif %}>
                <a href="{% url 'business_details' business.slug %}">
                   <strong>{{ business.business_name }}</strong>
                </a>
                <span class="grey-text meta-inline-gap">
                    <a href="{% url 'businesses_by_category' business.category %}">{{ business.category }}</a>
                    &mdash;
                    <a href="{% url 'businesses_by_city_name' business.country business.city %}">{{ business.city }}</a>,
                    <a href="{% url 'businesses_by_country' business.country %}">{{ business.country.name }} ({{ business.country.code }})</a>
                    {% if business.postal_code %}
                        , <a href="{% url 'businesses_by_postal_code' business.country business.postal_code %}">{{ business.postal_code }}</a>
                    {% endif %}
                    {% if business.post_office_box %}
                        , <a href="{% url 'businesses_by_pobox' business.country business.postal_code business.post_office_box %}">PO Box {{ business.post_office_box }}</a>
                    {% endif %}
                </span>
                {% if business.short_description %}
                    <p class="grey-text list-desc">{{ business.short_description }}</p>
                {% endif %}
            </div>
        </li>
    {% empty %}
        <li class="{% if request.GET.view == 'grid' %}col s12{% else %}collection-item{% endif %}">No businesses found.</li>
    {% endfor %}
</ul>

{% include 'business_listing/pagination.html' %}
{% endblock %}
